.editor-container .editor,
.queue-container .queue {
  flex: 0 0 550px;
  width: 350px;
  margin-left: 50px;
  overflow-y: auto;
  overflow-x: visible;
}

.editor-container .nav {
  justify-content: end;
}

.nav {
  flex: 1 1 auto;
  width: 300px;
  margin-left: 50px;
  overflow-y: auto;
  overflow-x: visible;
  display: flex;
  justify-content: space-between;
  align-items: start;
  border-bottom: 1px solid rgb(216, 0, 108);
  box-shadow: 0 10px 10px -10px rgb(216, 0, 108);

  color: white;
  font-weight: bold;
  text-decoration: underline;
  text-decoration-color: rgb(216, 0, 108);
  text-decoration-thickness: 2.2px;
  text-decoration-skip-ink: none;
  text-decoration-style: wavy;
}

.nav > div {
  cursor: pointer;
}

.song-tab.clone {
  display: none;
  position: absolute;
  z-index: 2;
  top: 0;
  left: 0;
  border: 1px rgba(255, 255, 255, 0.3) solid;
  border-radius: 15px;
}

.song-tab.clone.show {
  display: flex;
}

.queue-container .song-tab .actions-container {
  flex: 0 0 54px;
}

.editor-container .song-tab .actions-container {
  flex: 0 0 25px;
}

.editor-container .editor.library .song-tab,
.editor-container .editor.youtube .song-tab {
  cursor: default;
}

.editor-container .editor.library .song-tab .delete {
  background-image: url("/images/delete-forever.svg");
}

.editor-container .editor.youtube .song-tab .delete {
  display: none;
}

.song-divider {
  width: 300px;
  height: 1px;
  background-color: rgba(255, 255, 255, 0.3);
  margin: 0 50px 0 0;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  z-index: 1;
}

.editor-container .song-divider:nth-child(2) {
  margin-top: 83px;
}

.editor-container .song-divider:last-child,
.queue-container .song-divider:last-child {
  margin-bottom: 25px;
}

.song-divider .add {
  display: none;
  border-radius: 50%;
  background-color: rgb(216, 0, 108);
  border: 1px rgb(255, 255, 255) solid;
}

.song-divider.mouseover .add {
  display: flex;
}

.editor-container .playlist-options .add {
  border-radius: 50%;
  display: inline-block;
  background-color: rgb(216, 0, 108);
  border: 2px rgb(255, 255, 255) solid;
  cursor: pointer;
}

.editor-container .playlist-title-container {
  width: 300px;
  position: fixed;
  background-color: var(--grey);
  z-index: 2;
  border-bottom: 1px solid rgb(216, 0, 108);
  box-shadow: 0 10px 10px -10px rgb(216, 0, 108);
}

.editor-container .playlist-title,
.queue-container .manual,
.queue-container .auto {
  width: 300px;
  padding: 10px 0;
  font-size: 18px;
  font-weight: bold;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
}

.editor-container .playlist-options {
  width: 300px;
  display: none;
  align-items: center;
  justify-content: center;
  gap: 10px;
  padding-bottom: 10px;
  text-align: center;
}

.editor-container .editor.library .playlist-options {
  display: flex;
}

.editor-container .editor .playlist-options select {
  appearance: none;
  width: 225px;
  font-size: 16px;
  font-weight: bold;
  padding: 5px 10px;
  text-align: center;
  background-color: rgb(216, 0, 108);
  border: 2px solid white;
  border-radius: 10px;
  color: white;
  cursor: pointer;
  outline: none;
}

.curl {
  width: 40px;
  height: 15px;
  background-image: url("/images/curl.svg");
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
  filter: invert(1);
}

.curl:first-child {
  transform: scaleX(-1);
}
